*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* BACKGROUND COLOURS */
    --method-bg: rgb(20, 33, 81); background: linear-gradient (0deg, rgba(20, 33, 81, 1) 0%, rgba(71, 24, 113, 1) 100%);
    --statistics-bg: rgb(27, 112, 112); background: linear-gradient(0deg, rgba(27, 112, 112, 1) 0%, rgba(33, 155, 155, 1) 100%);
    --testing-bg: rgb(27, 61, 112);
    --vbackground: linear-gradient (0deg, rgba(27, 61, 112, 1) 0%, rgba(33, 89, 155, 1) 100%);
    --profile-bg: rgb(180, 87, 81); background: linear-gradient (0deg, rgba(180, 87, 81, 1) 0%, rgba(240, 119, 93, 1) 100%);
    --menu-overlay-bg: rgba(41, 41, 41, 0.95);
  
    /* MENU COLOURS */
    --menu-bg: #494949;
    --menu-clr: #f8f8f8;
    --active-menu-bg: #fbfbfb;
    --active-menu-clr: #282828;
  
    --home-btn-bg: #3f92b6;
    --testing-btn-bg: #599ae7;
    --lessons-btn-bg: #954be2;
    --statistics-btn-bg: #06a192;
    --profile-btn-bg: #fd8c73;
  }
  
  @font-face {
      font-family: "Poppins";
      font-weight: 100;
      src: url(/font/Poppins-Regular.ttf);
    }
  @font-face {
      font-family: "Poppins";
      font-weight: 200;
      src: url(/font/Poppins-SemiBold.ttf);
    }

body{
    background-image: url(/images/home.png);
    background-size: 100vw, 100vh;
    background-repeat: no-repeat;
    font: "Poppins";
}

.start-text {
    background: var(--menu-clr);
    padding: 0.5em;
    width: 14em;
    border-radius: 8px;
    position: absolute; left: 2.5em; top: 21.5em;
}

#start {
    background: var(--lessons-btn-bg);
    border: none;
    border-radius: 8px;
    color: var(--menu-clr);
    height: 2em;
    margin-top: 1em;
    width: 15.5em;
  }
