*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/images/home.png);
    background-size: 100vw, 100vh;
    background-repeat: no-repeat;
}

.start-text {
    background: #EAEAEA;
    padding: 0.5em;
    width: 14em;
    border-radius: 8px;
    position: absolute; left: 2.5em; top: 21.5em;
}

#start {
    width: 15.5em;
    height: 2em;
    background: #954BE2;
    border: none;
    border-radius: 8px;
    color: #EAEAEA;
    margin-top: 1em;
}
