*,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
  }

:root {
  /* BACKGROUND COLOURS */
  --method-1: rgba(71,24,113,1);
  --method-2: rgba(20,33,81,1);
  --method-3: rgb(20,33,81);
  
  --statistics-1: rgba(33,155,155,1);
  --statistics-2: rgba(27,112,112,1);
  --statistics-3: rgb(27,112,112);
  
  --testing-1: rgba(33,89,155,1);
  --testing-2: rgba(27,61,112,1);
  --testing-3: rgb(27,61,112);
  
  --profile-1: rgba(240,119,93,1) ;
  --profile-2:  rgba(180,87,81,1) ;
  --profile-3: rgb(180,87,81);

  --method-bg: linear-gradient( var(--method-1), var(--method-2), var(--method-3));
  --statistics-bg: linear-gradient( var(--statistics-1), var(--statistics-2), var(--statistics-3));
  --testing-bg: linear-gradient( var(--testing-1), var(--testing-2), var(--testing-3));
  --profile-bg: linear-gradient( var(--profile-1), var(--profile-2), var(--profile-3));

  /* MENU COLOURS */
  --menu-bg: #494949;
  --menu-clr: #f8f8f8;
  --active-menu-bg: #fbfbfb;
  --active-menu-clr: #282828;

  --home-btn-bg: #3f92b6;
  --testing-btn-bg: #599ae7;
  --lessons-btn-bg: #954be2;
  --statistics-btn-bg: #06a192;
  --profile-btn-bg: #fd8c73;
}

@font-face {
    font-family: "Poppins";
    src: url(/font/Poppins-Regular.ttf);
  }
@font-face {
    font-family: "PoppinsBold";
    src: url(/font/Poppins-SemiBold.ttf);
  }

/* BACKGROUNDS FOR DIFFERENT PAGES */

.homescreen {
  background-image: url(/images/home.png);
  background-size: 100vw, 100vh;
}

.lessonsPage {
  background: var(--method-bg);
}

/* END BACKGROUNDS */

.start-text {
  background: var(--menu-clr);
  padding: 0.5em;
  width: 14em;
  border-radius: 8px;
  position: absolute; left: 2.5em; top: 21.5em;
}

#start {
  background: var(--lessons-btn-bg);
  border: none;
  border-radius: 8px;
  color: var(--menu-clr);
  height: 2em;
  margin-top: 1em;
  width: 15.5em;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3, h4, h5 {
  font-size: 20px;
}

p {
  font-size: 16px;
  color: var(--menu-bg);
}

a {
    color: var(--active-menu-bg);
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
  }

  button p {
    color: var(--menu-clr);
  }

.bar {
  background-color: var(--menu-clr);
  display: block;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  width: 25px;
}

.navigatie {
    background: var(--menu-bg);
    border: none;
    border-radius: 16px;
    bottom: 2em;
    cursor: pointer;
    margin: 0em 1em 0em 1em;
    padding: 0.5em;
    position: fixed;
    right: 1em;
    z-index: 999;
  }

.navigatie {
  display: block;
}

.navigatie.active {
  background-color: var(--active-menu-bg);
}

.navigatie.active .bar:nth-child(2) {
  opacity: 0;
}

.navigatie.active .bar:nth-child(1) {
    background-color: var(--active-menu-clr);
    transform: translateY(8px) rotate(45deg);
  }

.navigatie.active .bar:nth-child(3) {
    background-color: var(--active-menu-clr);
    transform: translateY(-8px) rotate(-45deg);
  }

.home-menu {
  visibility: hidden;
}

.home-menu-active {
    background-color: var(--menu-overlay-bg);
    border: none;
    visibility: visible;
    z-index: 648;
  }

dialog {
      display: grid;
      gap: 50px;
      grid-template-columns: auto auto;
      height: 100%;
      justify-content: center;
      padding: 3em;
      width: 100%;
  }

dialog a {
    align-items: center;
    border-radius: 16px;
    color: var(--menu-clr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-decoration: none;
  }

dialog a:nth-of-type(1) {
  background: var(--home-btn-bg);
}

dialog a:nth-of-type(2) {
  background: var(--testing-btn-bg);
}

dialog a:nth-of-type(3) {
  background: var(--lessons-btn-bg);
}

dialog a:nth-of-type(4) {
  background: var(--statistics-btn-bg);
}

dialog a:nth-of-type(5) {
  background: var(--profile-btn-bg);
}

dialog p {
  color: var(--active-menu-bg);
}

.activePage {
  border: solid 5px var(--active-menu-bg);
}

.playlist {
    background: var(--menu-clr);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

.playlist img {
  height: 5em;
}

.downloadStory {
    bottom: 1em;
    position: absolute;
    right: 3em;
  }

.addToPlaylist {
    bottom: 1em;
    position: absolute;
    right: 1em;
  }

.playlist p:last-child {
    bottom: 1em;
    left: 3em;
    position: absolute;
  }

.heart, .redHeart {
    bottom: 1em;
    position: absolute;
    right: 1em;
  }